<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/about.css">
</head>

<body>


    <header>
        <nav>
            <a href="/">Home</a>
            <!-- <a href="/about">About us</a> -->
        </nav>
    </header>



        <div class="about-container">

        <h1>About Us</h1>

        <p>
            Welcome to the Rajasthan Tourism Guide website, developed as part of our Capstone-I project.
            This platform is designed to provide users with information about Rajasthan’s famous tourist
            destinations, historic forts, beautiful temples, and cultural heritage sites.
        </p>

        <p>
            Our aim is to create a simple and user-friendly travel guide that helps visitors explore
            important locations across Rajasthan with ease. The website includes destination details,
            images, map locations, ticket prices, and nearby hotel information to improve the overall
            travel experience.
        </p>

        <p>
            Through this project, we combined web development concepts with practical implementation
            to build an informative and visually engaging tourism platform.
        </p>

    </div>
    
</body>

</html>