<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="contact.css" >
</head>

<body>

    <header>
        <nav>
            <a href="/">Home</a>
            <!-- <a href="/about">About us</a> -->
        </nav>
    </header>

    <div class="contact-container">

        <h1>Contact us</h1>

        <p>Visit our GitHub repository:</p>

    <a class="github-link"
     href="https://github.com/smartest-coder/CapstoneProject1" target="_blank">
     GitHub Repository
    </a>

    </div>
</body>

</html>