<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/index.css">
</head>

<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About us</a>
        </nav>
        <div class="hero">Welcome to Rajasthan</div>
    </header>

    <h1>Choose your destination and click on guide button</h1>

    <div style="text-align:center; margin: 20px;">
        <input id="searchInput" type="text" placeholder="🔍 Search monuments..." style="
      padding: 10px 20px;
      width: 60%;
      border-radius: 25px;
      border: 2px solid #ccc;
      font-size: 16px;
      outline: none;
    " />
    </div>
    <div style="text-align:center; margin-bottom: 20px;">
        <button id="darkModeBtn" style="
    padding: 8px 20px;
    border-radius: 20px;
    border: none;
    background: #333;
    color: white;
    font-size: 14px;
    cursor: pointer;
  ">🌙 Dark Mode</button>
    </div>
    <main id="cardDisplay">
    </main>

    <footer>
        <a href="/contactUs">Contact us</a>
    </footer>

    <a href="/password/0" class="plus"><img src="plus.svg" alt=""></a>
    <script src="/index.js"></script>
</body>

</html>